{{!-- Citation for customers.handlebars file --}} 
{{!-- Date: 12/05/2022 --}}
{{!-- Adapted from Node JS Starter App--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}

<h1 class="title">Customers</h1>

{{!-- Display the columns --}}
<table id = "customers_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>

    <tbody>
	{{!--Print the relevant attributes for each row in order --}}
        {{#each data}}
        <tr>
            <th>{{this.customer_id}}</th>
            <th>{{this.customer_name}}</th>
            <th>{{this.customer_email}}</th>
            <th>{{this.phone_number}}</th>
            <th>{{this.address}}</th>
        </tr>
        {{/each}}

    </tbody>
 

</table>

{{!-- Form to add a customer --}}
<form id="addCustomer">
    <legend><h3>Add Customer</h3></legend>
    <fieldset>
        <label>Name</label> <input  type="text" id = "cust_name">
        <label>Email</label> <input  type="text" id = "cust_email">
        <label>Phone Number</label> <input  type="text" id = "cust_phone">
        <label>Address</label> <input  type="text" id = "cust_address">
    </fieldset>
    <input type="submit" value="Add Customer">
</form>

<script src = "/js/customers.js"></script>