<h1 class="title">Employees</h1>

<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <th>{{this.employee_id}}</th>
            <th>{{this.employee_name}}</th>
            <th>{{this.employee_email}}</th>
            <th>{{this.employee_phone}}</th>
            <th>{{this.salary}}</th>
            <th><button>Delete</button></th>
        </tr>
        {{/each}}

    </tbody>
</table>

<form id="addEmployee">
    <legend><h3>Add Employee</h3></legend>
    <fieldset>
        <label>Name</label> <input  type="text">
        <label>Email</label> <input  type="text">
        <label>Phone Number</label> <input  type="text">
        <label>Salary</label> <input  type="text">
    </fieldset>
</form>

<input type="submit" value="Add Employee">
<input type="button" value="Cancel">
