<script defer src = "/js/employees.js"></script>

<h1 class="title">Employees</h1>


<table>

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <th>{{this.employee_id}}</th>
            <th>{{this.employee_name}}</th>
            <th>{{this.employee_email}}</th>
            <th>{{this.employee_phone}}</th>
            <th>{{this.salary}}</th>
            <th><button>Delete</button></th>
        </tr>
        {{/each}}

    </tbody>
</table>

<form id="addEmployee">
    <legend><h3>Add Employee</h3></legend>
    <fieldset>
        <label>Name</label> <input  type="text" id = 'emp_name' >
        <label>Email</label> <input  type="text" id = 'emp_email'>
        <label>Phone Number</label> <input  type="text" id = 'emp_phone' pattern="[0-9]{3} [0-9]{3} [0-9]{4}}">
        <label>Salary</label> <input  type="text" id = 'emp_salary'>
    </fieldset>
    <input type="submit" value="Add Employee">
</form>





