{{!-- Citation for employees.handlebars --}} 
{{!-- Date: 12/05/2022 --}}
{{!-- Adapted from Node JS Starter App--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}

<h1 class="title">Employees</h1>

{{!-- Display the columns --}}
<table id="employees_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{!-- Print the relevant attributes for each row in order --}}	
        {{#each data}}
        <tr data-value={{this.employee_id}}>
            <td>{{this.employee_id}}</td>
            <td>{{this.employee_name}}</td>
            <td>{{this.employee_email}}</td>
            <td>{{this.employee_phone}}</td>
            <td>{{this.salary}}</td>
	    {{!-- Button to delete an employee, calls JavaScript function --}}	
            <td> <button onclick="deleteEmployee({{this.employee_id}})">Delete</button> </td>
        </tr>
        {{/each}}

    </tbody>
</table>

{{!-- Form to add an employee --}}
<form id="addEmployee">
    <legend><h3>Add Employee</h3></legend>
    <fieldset>
        <label>Name</label> <input  type="text" id = 'emp_name' >
        <label>Email</label> <input  type="text" id = 'emp_email'>
        <label>Phone Number</label> <input  type="text" id = 'emp_phone' pattern="[0-9]{3} [0-9]{3} [0-9]{4}}">
        <label>Salary</label> <input type="number" step="0.01" placeholder="0.00" id = 'emp_salary'>
    </fieldset>
    <input type="submit" value="Add Employee">
</form>


<script src = "/js/employees.js"></script>
<script src = "/js/delete_employee.js"></script>



