<h1 class="title">Fungus Products</h1>


<table id="fungus_products_table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fungus ID</th>
        <th>Fungus Name</th>
        <th>Product ID</th>
        <th>Product Name</th>
    </tr>	    
    <thead>

    <tbody>
	{{#each data}}
	<tr data-value={{this.fungus_product_id}}>
	    <td>{{this.fungus_product_id}}</td>
	    <td>{{this.fungus_id}}</td>
	    <td>{{this.fungus_name}}</td>
	    <td>{{this.product_id}}</td>
	    <td>{{this.product_name}}</td>
	 </tr>
	 {{/each}}
    </tbody>
    
</table>

<form id="addFungusProd">
    <legend><h3>Add Fungus Product</h3></legend>
    <fieldset>
        <label>Fungus ID</label> 
        <select name = "addfungusID" id="addfungusID">
            {{#each fungDrop}}
            <option value = "{{this.fungus_id}}">{{this.fungus_name}}</option>
            {{/each}}
        </select>
        <label>Product ID</label> 
        <select name = "addprodID" id="addprodID">
            {{#each prodDrop}}
            <option value = "{{this.product_id}}">{{this.product_name}}</option>
            {{/each}}
        </select>
    </fieldset>
    <input type="submit" value="Add Fungus Product">
</form>



<form id="updateFungusProd">
    <legend><h3>Update Fungus Product</h3></legend>
    <fieldset>
        <label>Fungus Product ID</label> 
        <select name = "fungus product id" id="updatefungusprodID">
            {{#each data}}
            <option value = "{{this.fungus_product_id}}">{{this.fungus_product_id}}</option>
           {{/each}}
        </select>
        <label>Fungus ID</label>
        <select name = "fungus id" id="updatefungusID">
           {{#each fungDrop}}
            <option value = "{{this.fungus_id}}">{{this.fungus_name}}</option>
            {{/each}}

        </select>
        <label>Product ID</label> 
        <select name = "product id" id="updateproductID">
          {{#each prodDrop}}
            <option value = "{{this.product_id}}">{{this.product_name}}</option>
            {{/each}}

        </select>
    </fieldset>
    <input type="submit" value="Update Fungus Product">
</form>
<script src="./js/add_fung_prod.js"></script>
<script src="./js/update_fung_prod.js"></script>