
<h1 class="title">Ordered Products</h1>

<table id = "ordered_products_table">
    <thead>
	<tr>
		<th>ID</th>
		<th>Order ID</th>
		<th>Product ID</th>
		<th>Product Name</th>
		<th>Quantity</th>
		<th>Cost</th>    
	</tr>
   </thead>

   <tbody>
	{{#each data}}
	<tr>
	    <td>{{this.ordered_product_id}}</td>
	    <td>{{this.order_id}}</td>
	    <td>{{this.product_id}}</td>
	    <td>{{this.product_name}}</td>
	    <td>{{this.quantity}}</td>
	    <td>{{this.cost}}</td>
	</tr>
	{{/each}}
   </tbody>

</table>

<div>
    <h3>Instructions for adding to order_products table:</h3>
    <p>All input fields must be filled, in order to successfully add an employee.</p>
    <p>Quantity and Cost must be a number greater than or equal to 0.</p>
</div>


<form id="addOrderedProd">
    <legend><h3>Add Ordered Product</h3></legend>
    <fieldset>
        <label>Product ID</label>
        <select name = "prodID" id="prodID">
	    {{#each prodInfo}}
            <option value = {{this.product_id}}>{{this.product_name}}</option>
	    {{/each}}
        </select>
        <label>Order ID</label>
        <select name = "orderID" id="orderID">
	    {{#each orderInfo}}
            <option value = "{{this.order_id}}">{{this.order_id}}</option>
	    {{/each}}
        </select>
        <label>Quantity</label> <input type="number" min="0" id="quantity" required>
        <label>Cost</label> <input type="number"step="0.01" min="0" id="cost" required>
    </fieldset>
    <input type="submit" value="Add Ordered Product">
</form>

<script src="./js/add_ordered_product.js"></script>

