{{!-- Citation for orders.handlebars --}}
{{!-- Date: 12/05/2022 --}}
{{!-- Adapted from Node JS Starter App--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app--}}

<h1 class="title">Orders</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<table id = "orders_table">
    {{!-- Display the columns --}}
    <thead>
        <tr>
		<th>ID</th>
		<th>Order Date</th>
		<th>Total Cost</th>
		<th>Employee ID</th>
		<th>Employee Name</th>
		<th>Customer ID</th>
		<th>Customer Name</th>
		<th></th>
        </tr>
    </thead>

    <tbody>
        {{!-- Print the relevant attributes for each row in order --}}
        {{#each data}}
        <tr data-value={{this.order_id}}>
            <td>{{this.order_id}}</td>
            <td>{{this.OrderDate}}</td>
            <td>{{this.total_cost}}</td>
            <td> {{this.employee_id}} </td>
            <td>{{this.employee_name}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.customer_name}}</td>
	    {{!-- Button to delete an employee, calls JavaScript function --}}
            <td><button onclick="deleteOrder({{this.order_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>  
</table>


{{!-- Filter to search by customer name --}}
<div id ="cust-filter">
	<form id="search-cust-name-html" method="GET" action='/orders'>
	       <label for "input-order-date">Search for Customers:</label>
	       <input type="text" name="cust_name" id="cust_name">	          
	       <input type="submit">	  
	</form>
		
	<a href='/orders'><button>Reset</button></a>
</div>

<div>
    <p>Instructions for adding and updating orders:</h3>
    <p>All input fields excecpt the date box must be filled in.</p>
    <p><strong>NOTE:</strong> If the date box is not filled in, the value will be '0-0-00'.</p>
    <p>Total Cost must be a number greater than or equal to 0.</p>
</div>

{{!-- Form to add an order --}}
<form id="addOrder">
    <legend><h3>Add Order</h3></legend>
    <fieldset>
        <label>Date</label> <input type="date" id="date_input">

        <label>Total Cost</label> <input type="number" step='0.01' placeholder='0.00' min = "0" required id = "cost_input">

        <label>Employee ID</label>
        <select name = "id" id="empID">
	    {{!-- Display employee names for dropdown --}}
            {{#each empInfo}}
            <option value = "{{this.employee_id}}">{{this.employee_name}}</option>
            {{/each}}
        </select>

        <label>Customer ID</label>
        <select name = "id" id="custID">
	    {{!-- Display customer names for dropdown --}}
            {{#each custInfo}}
            <option value = "{{this.customer_id}}">{{this.customer_name}}</option>
            {{/each}}
        </select>

    </fieldset>
    <input type="submit" value="Add Order">
</form>


{{!-- Form to update an order --}}
<form id="updateOrder">
    <legend><h3>Update Order</h3></legend>
    <fieldset>
        <label>Order ID</label>
        <select name = "id" id="updateOrderID">
	{{#each data}}
            <option value = "{{this.order_id}}">{{this.order_id}}</option>
	     {{/each}}
        </select>
        <label>Date</label> <input type="date" id="updateOrderDate">
        <label>Total Cost</label> <input type="number" step='0.01' placeholder='0.00' id = "updateOrderCost" min = "0" required>
        <label>Employee ID</label>
        <select name = "input-emp-id" id="updateEmpID">
 	    {{!-- Display employee names for dropdown --}}
            {{#each empInfo}}
            <option value = "{{this.employee_id}}">{{this.employee_name}}</option>
            {{/each}}
	     <option value = "NULL">NULL</option>

        </select>
        <label>Customer ID</label>
        <select name = "input-cust-id" id="updateCustID">
	     {{!-- Display customer names for dropdown --}}
             {{#each custInfo}}
            <option value = "{{this.customer_id}}">{{this.customer_name}}</option>
            {{/each}}
        </select>
    </fieldset>
    <input type="submit" value = "Update Order">
</form>

<script src = "/js/orders.js"></script>
<script src = "/js/delete_order.js"></script>
<script src = "/js/update_order.js"></script>